@import '../../components/variables.styl'

.root
  padding-left 20px
  padding-right 20px

.container
  margin 0 auto
  padding 0 0 40px
  max-width $max-content-width

.postItem
  margin 0 0 2rem

.postTitle
  font-size 1.5rem

.postDesc
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  font-size 1.125rem

  pre
    white-space pre-wrap
    font-size 0.075rem

  img 
    max-width 100%